.row.columns.content
  %h2 Get Started

  .row
    .register-holder.columns.medium-centered.medium-5
      .row
        .columns.medium-centered.medium-8
          %a{ href: '/users/auth/facebook' }
            = image_tag "facebook_login.png", class: "full-width"

        .row
          .medium-5.columns
            %hr
          .medium-2.columns.or-text or
          .medium-5.columns
            %hr

        .row
          .columns.medium-centered.medium-6
            = link_to "Create Account with Email", new_user_registration_path, class: "btn"