.row.columns.content
  %h1 Waiting to be Matched...

  %p
    We're waiting until October to match voters so keep an eye out
    for an email letting you know you've been matched!

  %p
    Until then, share this site to spread the word. Educate your friends
    &amp; family about strategic voting, and how we're organizing to help
    keep Trump out of the White House.
