%h2 Make Your Voice Heard. Defeat Donald.

%p
  As progressives, we don’t want to endorse Clinton, but we all want to stop Trump.
  And Clinton supporters don’t want Sanders supporters to vote third party.
  Instead of yelling at each other, what can we do to overcome this roadblock?

%h3 Strategic Voting.

%p
  Want to ensure Hillary wins, but you live in an uncontested state? Trade your vote with a 3rd-party voter in a swing state.
%p
  Want to support a 3rd party candidate, but you live in a battleground state and you also what to defeat Trump? Trade your vote with a Hillary voter in an uncontested state.

%h3 Everybody Wins. Except Trump.

%p 3rd party candidates get more votes, and you don't have to feel bad about "indirectly helping Trump win."
