%h1 Privacy Policy

%p
  This privacy policy discloses the privacy practices for (website address).
  This privacy policy applies solely to information collected by this web site. It will notify you of the following:

%ol
  %li What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.
  %li What choices are available to you regarding the use of your data.
  %li The security procedures in place to protect the misuse of your information.
  %li How you can correct any inaccuracies in the information.


%h2 Information Collection, Use, and Sharing
%p
  We are the sole owners of the information collected on this site.
  We only have access to/collect information that you voluntarily give us via email or other direct contact from you.
  We will not sell or rent this information to anyone.


%p
  We will use your information to respond to you, regarding the reason you contacted us.
  We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request,
  e.g. to match you with a voter in another state.

%p
  Unless you ask us not to, we may contact you via email in the future to tell you about specials,
  new products or services, or changes to this privacy policy.

%h2 Registration
%p
  In order to use this website, a user must first complete the registration form.
  During registration a user is required to give certain information (such as name and email address).
  This information is used to contact you about the services on our site in which you have expressed interest.

%h2 Cookies
%p
  We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help
  us improve your access to our site and identify repeat visitors to our site. For instance, when we use a
  cookie to identify you, you would not have to log in with a password more than once, thereby saving time while on our site.
  Usage of a cookie is in no way linked to any personally identifiable information on our site.

%h2 Your Access to and Control Over Information
%p
  You may opt out of any future contacts from us at any time.
  You can do the following at any time by #{link_to "accessing your account page", edit_user_registration_path}:
  %ul
    %li See what data we have about you, if any.
    %li Change/correct any data we have about you.
    %li Have us delete any data we have about you.

%h2 Links
%p
  This web site contains links to other sites. Please be aware that we are not responsible for the content or privacy practices
  of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any
  other site that collects personally identifiable information.

%h2 Security
%p
  We take precautions to protect your information.
  When you submit sensitive information via the website, your information is protected both online and offline.

%p
  Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way.
  You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https"
  at the beginning of the address of the web page.

%p
  While we use encryption to protect sensitive information transmitted online, we also protect your information offline.
  Only employees who need the information to perform a specific job (for example, customer service) are granted access
  to personally identifiable information. The computers/servers in which we store personally identifiable information
  are kept in a secure environment.

%h2 Updates

%p
  Our Privacy Policy may change from time to time and all updates will be posted on this page.

%p
  If you feel that we are not abiding by this privacy policy, you should contact us immediately via #{mail_to "support@makeminecount.org", "email"}.
