.row.columns.content
  %h1 Terms of Service

  %p
    Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://makeminecount.org/ website (the "Service") operated by Make Mine Count ("us", "we", or "our"). These Terms are the entire agreement between you and Make Mine Count. By using the Service in any way, you agree to and accept these Terms, our Privacy Notice, and any other legal notices or guidelines posted on the Site. If you are using our Service for an organization, you are agreeing to these Terms on behalf of that organization. If you do not agree to these Terms, do not use the Service.

  %h2 Accounts
  %p
    When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
    You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service. You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

  %h2 Links to Other Web Sites
  %p
    Our Service may contain links to third-party web sites or services that are not owned or controlled by Make Mine Count.
    Make Mine Count has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Make Mine Count shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
    We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.

  %h2 Disclaimer of Warranties
  %p
    YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
    WE ARE NOT RESPONSIBLE FOR ANY DAMAGE, LOSS OF DATA, CUSTOMER INFORMATION OR VENDOR DATA, REVENUE, OR OTHER HARM TO BUSINESS ARISING OUT OF DELAYS, MISDELIVERY OR NONDELIVERY OF INFORMATION, RESTRICTION OR LOSS OF ACCESS, BUGS OR OTHER ERRORS, UNAUTHORIZED USE DUE TO YOUR SHARING OF ACCESS TO THE SERVICE, OR OTHER INTERACTION WITH THE SERVICE. YOU ARE RESPONSIBLE FOR MAINTAINING AND BACKING-UP YOUR DATA AND INFORMATION THAT MAY RESIDE ON THE SERVICE. MAKE MINE COUNT DOES NOT WARRANT THAT (i) THE SERVICE WILL MEET YOUR SPECIFIC REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS IN THE SERVICE WILL BE CORRECTED.
    ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.
    ANY DATA, INFORMATION, CONTENT OR MATERIALS CONTAINED IN OR MADE AVAILABLE IN CONNECTION WITH THE SERVICE IS NOT INTENDED AS A SUBSTITUTE FOR THE KNOWLEDGE, EXPERTISE, SKILL AND JUDGMENT OF TAX, LEGAL OR OTHER PROFESSIONALS. THE SERVICE DOES NOT PROVIDE TAX OR LEGAL ADVICE. YOU ARE RESPONSIBLE FOR OBTAINING SUCH ADVICE.
    NEITHER MAKE MINE COUNT NOR ANY THIRD PARTY PROVIDERS, PARTNERS, OR AFFILIATES WARRANT THAT THE SITE, ITS SERVERS, THE MATERIALS OR THE SERVICE, OR ANY EMAIL SENT FROM THE SITE OR ANY THIRD PARTY PROVIDERS, PARTNERS, OR AFFILIATES ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
    MAKE MINE COUNT AND ITS LICENSORS MAKE NO WARRANTY OR REPRESENTATION THAT THE SERVICES, MATERIALS, OR SITE ARE APPROPRIATE OR AVAILABLE FOR USE IN ALL GEOGRAPHIC LOCATIONS.

  %h2 Governing Law
  %p
    We may provide notices to you via either email or regular mail. The Service may also provide notices of changes to these Terms or other matters by displaying notices or links to notices to you generally on the Service. These Terms and the relationship between you and Make Mine Count shall be governed by the laws of the State of California without regard to its conflict of law provisions. You and Make Mine Count agree to submit to the personal and exclusive jurisdiction of the courts located within San Francisco, California. The failure of Make Mine Count to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision. These Terms constitute the entire agreement between you and us and govern your use of the Service, superseding any prior agreements (including, but not limited to, any prior versions of these Terms). You also may be subject to additional terms and conditions that may apply when you use affiliate or other services, third-party content or third-party software. If any provision of these Terms or incorporated documents are found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of these Terms remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or these Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred. The section titles in these Terms are for convenience only and have no legal or contractual effect. You acknowledge and agree that you are each waiving the right to participate as a plaintiff or class member in any purported class action or representative proceeding. Further, more than one person's claims may not be consolidated under any circumstances, in any form of any class or representative proceeding or otherwise.

  %h2 Limitation of Liability
  %p
    WE WILL NOT BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF MAKE MINE COUNT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (a) THE USE OR THE INABILITY TO USE THE SERVICE; (b) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (c) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (d) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (e) ANY OTHER MATTER RELATING TO THE SERVICE. 

  %p
    IN THE EVENT OF ANY PROBLEM WITH THE SITE, THE SERVICE, OR THE MATERIALS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO CEASE USING THE SITE, THE SERVICE, AND THE MATERIALS. UNDER NO CIRCUMSTANCES SHALL MAKE MINE COUNT, ITS AFFILIATES, OR LICENSORS BE LIABLE IN ANY WAY FOR YOUR USE OF THE SITE, THE SERVICE, THE MATERIALS, YOUR CONTENT, THE COMMERCIAL PRODUCTS OR THIRD PARTY USER GENERATED CONTENT AVAILABLE ON OR THROUGH THE SITE, INCLUDING, BUT NOT LIMITED TO, ANY ERRORS OR OMISSIONS, ANY INFRINGEMENT OF THE INTELLECTUAL PROPERTY RIGHTS OR OTHER RIGHTS OF THIRD PARTIES, OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF, OR RELATED TO, THE USE OF THE SITE, THE SERVICE, THE MATERIALS, YOUR CONTENT, THE COMMERCIAL PRODUCTS OR ANY THIRD PARTY USER GENERATED CONTENT AVAILABLE ON OR THROUGH THE SITE.

  %h2 General
  %p
    We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 60 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
    By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.

  %h2 Contact Us
  %p
    If you have any questions about these Terms, please contact us.
