@import "settings";

.hero {
  position: relative;
  .everybody {
    position: absolute;
    left: 20px;
    bottom: 30%;
    width: 50%;
  }
}

ul.checkboxes {
  list-style-type: none;
  position: relative;
  margin-left: 2rem;
  li:first-child {
    margin-bottom: 1rem;
  }
  li:before {
    position: absolute;
    left: -35px;
    content: "";
    display: inline-block;
    background-image: url(image-path("checkbox.svg"));
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-top: -6px;
  }
}

.left-arrow {
  transform: scaleX(-1);
  margin-top: -10px;
}
